<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsl.mapper.BslChangeStatusRecordMapper" >
  <resultMap id="BaseResultMap" type="com.bsl.pojo.BslChangeStatusRecord" >
    <id column="change_serno" property="changeSerno" jdbcType="VARCHAR" />
    <result column="change_type" property="changeType" jdbcType="CHAR" />
    <result column="change_prod_id" property="changeProdId" jdbcType="VARCHAR" />
    <result column="before_status" property="beforeStatus" jdbcType="VARCHAR" />
    <result column="after_status" property="afterStatus" jdbcType="VARCHAR" />
    <result column="inputuser" property="inputuser" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    change_serno, change_type, change_prod_id, before_status, after_status, inputuser, 
    crt_date, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bsl.pojo.BslChangeStatusRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bsl_change_status_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bsl_change_status_record
    where change_serno = #{changeSerno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bsl_change_status_record
    where change_serno = #{changeSerno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bsl.pojo.BslChangeStatusRecordExample" >
    delete from bsl_change_status_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsl.pojo.BslChangeStatusRecord" >
    insert into bsl_change_status_record (change_serno, change_type, change_prod_id, 
      before_status, after_status, inputuser, 
      crt_date, remark)
    values (#{changeSerno,jdbcType=VARCHAR}, #{changeType,jdbcType=CHAR}, #{changeProdId,jdbcType=VARCHAR}, 
      #{beforeStatus,jdbcType=VARCHAR}, #{afterStatus,jdbcType=VARCHAR}, #{inputuser,jdbcType=VARCHAR}, 
      #{crtDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bsl.pojo.BslChangeStatusRecord" >
    insert into bsl_change_status_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="changeSerno != null" >
        change_serno,
      </if>
      <if test="changeType != null" >
        change_type,
      </if>
      <if test="changeProdId != null" >
        change_prod_id,
      </if>
      <if test="beforeStatus != null" >
        before_status,
      </if>
      <if test="afterStatus != null" >
        after_status,
      </if>
      <if test="inputuser != null" >
        inputuser,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="changeSerno != null" >
        #{changeSerno,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null" >
        #{changeType,jdbcType=CHAR},
      </if>
      <if test="changeProdId != null" >
        #{changeProdId,jdbcType=VARCHAR},
      </if>
      <if test="beforeStatus != null" >
        #{beforeStatus,jdbcType=VARCHAR},
      </if>
      <if test="afterStatus != null" >
        #{afterStatus,jdbcType=VARCHAR},
      </if>
      <if test="inputuser != null" >
        #{inputuser,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsl.pojo.BslChangeStatusRecordExample" resultType="java.lang.Integer" >
    select count(*) from bsl_change_status_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bsl_change_status_record
    <set >
      <if test="record.changeSerno != null" >
        change_serno = #{record.changeSerno,jdbcType=VARCHAR},
      </if>
      <if test="record.changeType != null" >
        change_type = #{record.changeType,jdbcType=CHAR},
      </if>
      <if test="record.changeProdId != null" >
        change_prod_id = #{record.changeProdId,jdbcType=VARCHAR},
      </if>
      <if test="record.beforeStatus != null" >
        before_status = #{record.beforeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.afterStatus != null" >
        after_status = #{record.afterStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.inputuser != null" >
        inputuser = #{record.inputuser,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bsl_change_status_record
    set change_serno = #{record.changeSerno,jdbcType=VARCHAR},
      change_type = #{record.changeType,jdbcType=CHAR},
      change_prod_id = #{record.changeProdId,jdbcType=VARCHAR},
      before_status = #{record.beforeStatus,jdbcType=VARCHAR},
      after_status = #{record.afterStatus,jdbcType=VARCHAR},
      inputuser = #{record.inputuser,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsl.pojo.BslChangeStatusRecord" >
    update bsl_change_status_record
    <set >
      <if test="changeType != null" >
        change_type = #{changeType,jdbcType=CHAR},
      </if>
      <if test="changeProdId != null" >
        change_prod_id = #{changeProdId,jdbcType=VARCHAR},
      </if>
      <if test="beforeStatus != null" >
        before_status = #{beforeStatus,jdbcType=VARCHAR},
      </if>
      <if test="afterStatus != null" >
        after_status = #{afterStatus,jdbcType=VARCHAR},
      </if>
      <if test="inputuser != null" >
        inputuser = #{inputuser,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where change_serno = #{changeSerno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsl.pojo.BslChangeStatusRecord" >
    update bsl_change_status_record
    set change_type = #{changeType,jdbcType=CHAR},
      change_prod_id = #{changeProdId,jdbcType=VARCHAR},
      before_status = #{beforeStatus,jdbcType=VARCHAR},
      after_status = #{afterStatus,jdbcType=VARCHAR},
      inputuser = #{inputuser,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where change_serno = #{changeSerno,jdbcType=VARCHAR}
  </update>
</mapper>