<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsl.mapper.BslLuStockInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bsl.pojo.BslLuStockInfo" >
    <id column="trans_date" property="transDate" jdbcType="DATE" />
    <id column="prod_luno" property="prodLuno" jdbcType="VARCHAR" />
    <result column="raw_all_num" property="rawAllNum" jdbcType="INTEGER" />
    <result column="raw_all_weight" property="rawAllWeight" jdbcType="REAL" />
    <result column="raw_num" property="rawNum" jdbcType="INTEGER" />
    <result column="raw_weight" property="rawWeight" jdbcType="REAL" />
    <result column="half_all_num" property="halfAllNum" jdbcType="INTEGER" />
    <result column="half_all_weight" property="halfAllWeight" jdbcType="REAL" />
    <result column="half_num" property="halfNum" jdbcType="INTEGER" />
    <result column="half_weight" property="halfWeight" jdbcType="REAL" />
    <result column="prod_all_num" property="prodAllNum" jdbcType="INTEGER" />
    <result column="prod_all_weight" property="prodAllWeight" jdbcType="REAL" />
    <result column="prod_num" property="prodNum" jdbcType="INTEGER" />
    <result column="prod_weight" property="prodWeight" jdbcType="REAL" />
    <result column="sale_raw_num" property="saleRawNum" jdbcType="INTEGER" />
    <result column="sale_raw_weight" property="saleRawWeight" jdbcType="REAL" />
    <result column="sale_half_num" property="saleHalfNum" jdbcType="INTEGER" />
    <result column="sale_half_weight" property="saleHalfWeight" jdbcType="REAL" />
    <result column="sale_prod_num" property="saleProdNum" jdbcType="INTEGER" />
    <result column="sale_prod_weight" property="saleProdWeight" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trans_date, prod_luno, raw_all_num, raw_all_weight, raw_num, raw_weight, half_all_num, 
    half_all_weight, half_num, half_weight, prod_all_num, prod_all_weight, prod_num, 
    prod_weight, sale_raw_num, sale_raw_weight, sale_half_num, sale_half_weight, sale_prod_num, 
    sale_prod_weight
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bsl.pojo.BslLuStockInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bsl_lu_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.bsl.pojo.BslLuStockInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from bsl_lu_stock_info
    where trans_date = #{transDate,jdbcType=DATE}
      and prod_luno = #{prodLuno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bsl.pojo.BslLuStockInfoKey" >
    delete from bsl_lu_stock_info
    where trans_date = #{transDate,jdbcType=DATE}
      and prod_luno = #{prodLuno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bsl.pojo.BslLuStockInfoExample" >
    delete from bsl_lu_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsl.pojo.BslLuStockInfo" >
    insert into bsl_lu_stock_info (trans_date, prod_luno, raw_all_num, 
      raw_all_weight, raw_num, raw_weight, 
      half_all_num, half_all_weight, half_num, 
      half_weight, prod_all_num, prod_all_weight, 
      prod_num, prod_weight, sale_raw_num, 
      sale_raw_weight, sale_half_num, sale_half_weight, 
      sale_prod_num, sale_prod_weight)
    values (#{transDate,jdbcType=DATE}, #{prodLuno,jdbcType=VARCHAR}, #{rawAllNum,jdbcType=INTEGER}, 
      #{rawAllWeight,jdbcType=REAL}, #{rawNum,jdbcType=INTEGER}, #{rawWeight,jdbcType=REAL}, 
      #{halfAllNum,jdbcType=INTEGER}, #{halfAllWeight,jdbcType=REAL}, #{halfNum,jdbcType=INTEGER}, 
      #{halfWeight,jdbcType=REAL}, #{prodAllNum,jdbcType=INTEGER}, #{prodAllWeight,jdbcType=REAL}, 
      #{prodNum,jdbcType=INTEGER}, #{prodWeight,jdbcType=REAL}, #{saleRawNum,jdbcType=INTEGER}, 
      #{saleRawWeight,jdbcType=REAL}, #{saleHalfNum,jdbcType=INTEGER}, #{saleHalfWeight,jdbcType=REAL}, 
      #{saleProdNum,jdbcType=INTEGER}, #{saleProdWeight,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bsl.pojo.BslLuStockInfo" >
    insert into bsl_lu_stock_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transDate != null" >
        trans_date,
      </if>
      <if test="prodLuno != null" >
        prod_luno,
      </if>
      <if test="rawAllNum != null" >
        raw_all_num,
      </if>
      <if test="rawAllWeight != null" >
        raw_all_weight,
      </if>
      <if test="rawNum != null" >
        raw_num,
      </if>
      <if test="rawWeight != null" >
        raw_weight,
      </if>
      <if test="halfAllNum != null" >
        half_all_num,
      </if>
      <if test="halfAllWeight != null" >
        half_all_weight,
      </if>
      <if test="halfNum != null" >
        half_num,
      </if>
      <if test="halfWeight != null" >
        half_weight,
      </if>
      <if test="prodAllNum != null" >
        prod_all_num,
      </if>
      <if test="prodAllWeight != null" >
        prod_all_weight,
      </if>
      <if test="prodNum != null" >
        prod_num,
      </if>
      <if test="prodWeight != null" >
        prod_weight,
      </if>
      <if test="saleRawNum != null" >
        sale_raw_num,
      </if>
      <if test="saleRawWeight != null" >
        sale_raw_weight,
      </if>
      <if test="saleHalfNum != null" >
        sale_half_num,
      </if>
      <if test="saleHalfWeight != null" >
        sale_half_weight,
      </if>
      <if test="saleProdNum != null" >
        sale_prod_num,
      </if>
      <if test="saleProdWeight != null" >
        sale_prod_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transDate != null" >
        #{transDate,jdbcType=DATE},
      </if>
      <if test="prodLuno != null" >
        #{prodLuno,jdbcType=VARCHAR},
      </if>
      <if test="rawAllNum != null" >
        #{rawAllNum,jdbcType=INTEGER},
      </if>
      <if test="rawAllWeight != null" >
        #{rawAllWeight,jdbcType=REAL},
      </if>
      <if test="rawNum != null" >
        #{rawNum,jdbcType=INTEGER},
      </if>
      <if test="rawWeight != null" >
        #{rawWeight,jdbcType=REAL},
      </if>
      <if test="halfAllNum != null" >
        #{halfAllNum,jdbcType=INTEGER},
      </if>
      <if test="halfAllWeight != null" >
        #{halfAllWeight,jdbcType=REAL},
      </if>
      <if test="halfNum != null" >
        #{halfNum,jdbcType=INTEGER},
      </if>
      <if test="halfWeight != null" >
        #{halfWeight,jdbcType=REAL},
      </if>
      <if test="prodAllNum != null" >
        #{prodAllNum,jdbcType=INTEGER},
      </if>
      <if test="prodAllWeight != null" >
        #{prodAllWeight,jdbcType=REAL},
      </if>
      <if test="prodNum != null" >
        #{prodNum,jdbcType=INTEGER},
      </if>
      <if test="prodWeight != null" >
        #{prodWeight,jdbcType=REAL},
      </if>
      <if test="saleRawNum != null" >
        #{saleRawNum,jdbcType=INTEGER},
      </if>
      <if test="saleRawWeight != null" >
        #{saleRawWeight,jdbcType=REAL},
      </if>
      <if test="saleHalfNum != null" >
        #{saleHalfNum,jdbcType=INTEGER},
      </if>
      <if test="saleHalfWeight != null" >
        #{saleHalfWeight,jdbcType=REAL},
      </if>
      <if test="saleProdNum != null" >
        #{saleProdNum,jdbcType=INTEGER},
      </if>
      <if test="saleProdWeight != null" >
        #{saleProdWeight,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsl.pojo.BslLuStockInfoExample" resultType="java.lang.Integer" >
    select count(*) from bsl_lu_stock_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bsl_lu_stock_info
    <set >
      <if test="record.transDate != null" >
        trans_date = #{record.transDate,jdbcType=DATE},
      </if>
      <if test="record.prodLuno != null" >
        prod_luno = #{record.prodLuno,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAllNum != null" >
        raw_all_num = #{record.rawAllNum,jdbcType=INTEGER},
      </if>
      <if test="record.rawAllWeight != null" >
        raw_all_weight = #{record.rawAllWeight,jdbcType=REAL},
      </if>
      <if test="record.rawNum != null" >
        raw_num = #{record.rawNum,jdbcType=INTEGER},
      </if>
      <if test="record.rawWeight != null" >
        raw_weight = #{record.rawWeight,jdbcType=REAL},
      </if>
      <if test="record.halfAllNum != null" >
        half_all_num = #{record.halfAllNum,jdbcType=INTEGER},
      </if>
      <if test="record.halfAllWeight != null" >
        half_all_weight = #{record.halfAllWeight,jdbcType=REAL},
      </if>
      <if test="record.halfNum != null" >
        half_num = #{record.halfNum,jdbcType=INTEGER},
      </if>
      <if test="record.halfWeight != null" >
        half_weight = #{record.halfWeight,jdbcType=REAL},
      </if>
      <if test="record.prodAllNum != null" >
        prod_all_num = #{record.prodAllNum,jdbcType=INTEGER},
      </if>
      <if test="record.prodAllWeight != null" >
        prod_all_weight = #{record.prodAllWeight,jdbcType=REAL},
      </if>
      <if test="record.prodNum != null" >
        prod_num = #{record.prodNum,jdbcType=INTEGER},
      </if>
      <if test="record.prodWeight != null" >
        prod_weight = #{record.prodWeight,jdbcType=REAL},
      </if>
      <if test="record.saleRawNum != null" >
        sale_raw_num = #{record.saleRawNum,jdbcType=INTEGER},
      </if>
      <if test="record.saleRawWeight != null" >
        sale_raw_weight = #{record.saleRawWeight,jdbcType=REAL},
      </if>
      <if test="record.saleHalfNum != null" >
        sale_half_num = #{record.saleHalfNum,jdbcType=INTEGER},
      </if>
      <if test="record.saleHalfWeight != null" >
        sale_half_weight = #{record.saleHalfWeight,jdbcType=REAL},
      </if>
      <if test="record.saleProdNum != null" >
        sale_prod_num = #{record.saleProdNum,jdbcType=INTEGER},
      </if>
      <if test="record.saleProdWeight != null" >
        sale_prod_weight = #{record.saleProdWeight,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bsl_lu_stock_info
    set trans_date = #{record.transDate,jdbcType=DATE},
      prod_luno = #{record.prodLuno,jdbcType=VARCHAR},
      raw_all_num = #{record.rawAllNum,jdbcType=INTEGER},
      raw_all_weight = #{record.rawAllWeight,jdbcType=REAL},
      raw_num = #{record.rawNum,jdbcType=INTEGER},
      raw_weight = #{record.rawWeight,jdbcType=REAL},
      half_all_num = #{record.halfAllNum,jdbcType=INTEGER},
      half_all_weight = #{record.halfAllWeight,jdbcType=REAL},
      half_num = #{record.halfNum,jdbcType=INTEGER},
      half_weight = #{record.halfWeight,jdbcType=REAL},
      prod_all_num = #{record.prodAllNum,jdbcType=INTEGER},
      prod_all_weight = #{record.prodAllWeight,jdbcType=REAL},
      prod_num = #{record.prodNum,jdbcType=INTEGER},
      prod_weight = #{record.prodWeight,jdbcType=REAL},
      sale_raw_num = #{record.saleRawNum,jdbcType=INTEGER},
      sale_raw_weight = #{record.saleRawWeight,jdbcType=REAL},
      sale_half_num = #{record.saleHalfNum,jdbcType=INTEGER},
      sale_half_weight = #{record.saleHalfWeight,jdbcType=REAL},
      sale_prod_num = #{record.saleProdNum,jdbcType=INTEGER},
      sale_prod_weight = #{record.saleProdWeight,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsl.pojo.BslLuStockInfo" >
    update bsl_lu_stock_info
    <set >
      <if test="rawAllNum != null" >
        raw_all_num = #{rawAllNum,jdbcType=INTEGER},
      </if>
      <if test="rawAllWeight != null" >
        raw_all_weight = #{rawAllWeight,jdbcType=REAL},
      </if>
      <if test="rawNum != null" >
        raw_num = #{rawNum,jdbcType=INTEGER},
      </if>
      <if test="rawWeight != null" >
        raw_weight = #{rawWeight,jdbcType=REAL},
      </if>
      <if test="halfAllNum != null" >
        half_all_num = #{halfAllNum,jdbcType=INTEGER},
      </if>
      <if test="halfAllWeight != null" >
        half_all_weight = #{halfAllWeight,jdbcType=REAL},
      </if>
      <if test="halfNum != null" >
        half_num = #{halfNum,jdbcType=INTEGER},
      </if>
      <if test="halfWeight != null" >
        half_weight = #{halfWeight,jdbcType=REAL},
      </if>
      <if test="prodAllNum != null" >
        prod_all_num = #{prodAllNum,jdbcType=INTEGER},
      </if>
      <if test="prodAllWeight != null" >
        prod_all_weight = #{prodAllWeight,jdbcType=REAL},
      </if>
      <if test="prodNum != null" >
        prod_num = #{prodNum,jdbcType=INTEGER},
      </if>
      <if test="prodWeight != null" >
        prod_weight = #{prodWeight,jdbcType=REAL},
      </if>
      <if test="saleRawNum != null" >
        sale_raw_num = #{saleRawNum,jdbcType=INTEGER},
      </if>
      <if test="saleRawWeight != null" >
        sale_raw_weight = #{saleRawWeight,jdbcType=REAL},
      </if>
      <if test="saleHalfNum != null" >
        sale_half_num = #{saleHalfNum,jdbcType=INTEGER},
      </if>
      <if test="saleHalfWeight != null" >
        sale_half_weight = #{saleHalfWeight,jdbcType=REAL},
      </if>
      <if test="saleProdNum != null" >
        sale_prod_num = #{saleProdNum,jdbcType=INTEGER},
      </if>
      <if test="saleProdWeight != null" >
        sale_prod_weight = #{saleProdWeight,jdbcType=REAL},
      </if>
    </set>
    where trans_date = #{transDate,jdbcType=DATE}
      and prod_luno = #{prodLuno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsl.pojo.BslLuStockInfo" >
    update bsl_lu_stock_info
    set raw_all_num = #{rawAllNum,jdbcType=INTEGER},
      raw_all_weight = #{rawAllWeight,jdbcType=REAL},
      raw_num = #{rawNum,jdbcType=INTEGER},
      raw_weight = #{rawWeight,jdbcType=REAL},
      half_all_num = #{halfAllNum,jdbcType=INTEGER},
      half_all_weight = #{halfAllWeight,jdbcType=REAL},
      half_num = #{halfNum,jdbcType=INTEGER},
      half_weight = #{halfWeight,jdbcType=REAL},
      prod_all_num = #{prodAllNum,jdbcType=INTEGER},
      prod_all_weight = #{prodAllWeight,jdbcType=REAL},
      prod_num = #{prodNum,jdbcType=INTEGER},
      prod_weight = #{prodWeight,jdbcType=REAL},
      sale_raw_num = #{saleRawNum,jdbcType=INTEGER},
      sale_raw_weight = #{saleRawWeight,jdbcType=REAL},
      sale_half_num = #{saleHalfNum,jdbcType=INTEGER},
      sale_half_weight = #{saleHalfWeight,jdbcType=REAL},
      sale_prod_num = #{saleProdNum,jdbcType=INTEGER},
      sale_prod_weight = #{saleProdWeight,jdbcType=REAL}
    where trans_date = #{transDate,jdbcType=DATE}
      and prod_luno = #{prodLuno,jdbcType=VARCHAR}
  </update>
  <select id="selectOneDayInfo" resultMap="BaseResultMap">
	 SELECT
	 		date_format(now(),'%Y-%m-%d') trans_date,
			a.prod_luno,
			if(isnull(a.raw_all_num),0,a.raw_all_num) as raw_all_num,
			if(isnull(a.raw_all_weight),0,a.raw_all_weight) as raw_all_weight,
			if(isnull(b.raw_num),0,b.raw_num) as raw_num,
			if(isnull(b.raw_weight),0,b.raw_weight) as raw_weight,
			if(isnull(c.sale_raw_num),0,c.sale_raw_num) as sale_raw_num,
			if(isnull(c.sale_raw_weight),0,c.sale_raw_weight) as sale_raw_weight,
			if(isnull(d.half_all_num),0,d.half_all_num) as half_all_num,
			if(isnull(d.half_all_weight),0,d.half_all_weight) as half_all_weight,
			if(isnull(e.half_num),0,e.half_num) as half_num,
			if(isnull(e.half_weight),0,e.half_weight) as half_weight,
			if(isnull(f.sale_half_num),0,f.sale_half_num) as sale_half_num,
			if(isnull(f.sale_half_weight),0,f.sale_half_weight) as sale_half_weight,
			if(isnull(g.prod_all_num),0,g.prod_all_num) as prod_all_num,
			if(isnull(g.prod_all_weight),0,g.prod_all_weight) as prod_all_weight,
			if(isnull(h.prod_num),0,h.prod_num) as prod_num,
			if(isnull(h.prod_weight),0,h.prod_weight) as prod_weight,
			if(isnull(i.sale_prod_num),0,i.sale_prod_num) as sale_prod_num,
			if(isnull(i.sale_prod_weight),0,i.sale_prod_weight) as sale_prod_weight
	from 
	(select prod_luno,sum(prod_print_weight) raw_all_weight,count(*) raw_all_num from bsl_product_info
		where prod_type = '0' and prod_status != '0' and (prod_source is null or prod_source != '2')
		group by prod_luno) a
	left join 
	(select prod_luno,sum(prod_print_weight) raw_weight,count(*) raw_num from bsl_product_info
		where prod_type = '0' and prod_status = '1' and (prod_source is null or prod_source != '2')
		group by prod_luno) b
	on a.prod_luno = b.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) sale_raw_weight,count(*) sale_raw_num from bsl_product_info
		where prod_type = '0' and prod_status = '4' and (prod_source is null or prod_source != '2')
		group by prod_luno) c
	on a.prod_luno = c.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) half_all_weight,count(*) half_all_num from bsl_product_info
		where prod_type = '1' and (prod_source is null or prod_source != '2')
		group by prod_luno) d
	on a.prod_luno = d.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) half_weight,count(*) half_num from bsl_product_info
		where prod_type = '1' and prod_status = '1' and (prod_source is null or prod_source != '2')
		group by prod_luno) e
	on a.prod_luno = e.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) sale_half_weight,count(*) sale_half_num from bsl_product_info
		where prod_type = '1' and prod_status = '4' and (prod_source is null or prod_source != '2')
		group by prod_luno) f
	on a.prod_luno = f.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) prod_all_weight,count(*) prod_all_num from bsl_product_info
		where prod_type = '2' and (prod_source is null or prod_source != '2')
		group by prod_luno) g
	on a.prod_luno = g.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) prod_weight,count(*) prod_num from bsl_product_info
		where prod_type = '2' and prod_status = '1' and (prod_source is null or prod_source != '2')
		group by prod_luno) h
	on a.prod_luno = h.prod_luno
	left join
	(select prod_luno,sum(prod_print_weight) sale_prod_weight,count(*) sale_prod_num from bsl_product_info
		where prod_type = '1' and prod_status = '4' and (prod_source is null or prod_source != '2')
		group by prod_luno) i
	on a.prod_luno = i.prod_luno
  </select>
</mapper>